:root {
  --white: #dedad1
}

@keyframes enter {
  from{opacity: 0;transform: translateY(10%);}
  to{opacity:1;transform: translateY(0%);}
}

.App {
  height: calc(100vh - 6vw);
  width: 94vw;
  margin: 3vw;
  border: dotted 0.5px var(--white);
  position: relative;
}

.menu {
  position: absolute;
  top: 3vw;
  left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  cursor: pointer;
  height: 3.5vw;
  font-size: 2.5vw;
  background: none;
  outline: none;
  border: none;
  color: var(--white);
  transition: all 0.25s;
  border-bottom: solid 1px transparent;
  border-bottom-width: 0%;
  z-index: 1;
}

button:hover {
  color: white;
  border-color: white;
  border-bottom-width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  animation: enter 0.25s ease-in;
  z-index: 1;
  width: 15vw;
}

.about-text {
  font-size: 1.3rem;
  color: var(--white);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--white);
  border-bottom: solid 1px transparent;
  border-bottom-width: 0;
}

a:hover {
  color: white;
  border-color: white;
  border-bottom-width: 100%;
}

#tsparticles {
  position: relative;
}

